[submodule "altdns"]
	path = altdns
	url = https://github.com/infosec-au/altdns.git
[submodule "mobile/android/apkx"]
	path = mobile/android/apkx
	url = https://github.com/b-mueller/apkx.git
[submodule "web/wfuzz"]
	path = web/wfuzz
	url = https://github.com/xmendez/wfuzz.git
[submodule "network/testssl.sh"]
	path = network/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "web/davtestpy"]
	path = web/davtestpy
	url = https://github.com/FrUh/davtestpy.git
[submodule "web/sqlmap"]
	path = web/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
