[submodule "altdns"]
	path = altdns
	url = https://github.com/infosec-au/altdns.git
[submodule "mobile/android/apkx"]
	path = mobile/android/apkx
	url = https://github.com/b-mueller/apkx.git
[submodule "web/wfuzz"]
	path = web/wfuzz
	url = https://github.com/xmendez/wfuzz.git
[submodule "network/testssl.sh"]
	path = network/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "web/davtestpy"]
	path = web/davtestpy
	url = https://github.com/FrUh/davtestpy.git
[submodule "web/sqlmap"]
	path = web/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "mobile/Mobile-Security-Framework-MobSF"]
	path = mobile/Mobile-Security-Framework-MobSF
	url = https://github.com/MobSF/Mobile-Security-Framework-MobSF.git
[submodule "mobile/android/janus"]
	path = mobile/android/janus
	url = https://github.com/odensc/janus
[submodule "network/smbmap"]
	path = network/smbmap
	url = https://github.com/ShawnDEvans/smbmap
[submodule "network/net-creds"]
	path = network/net-creds
	url = https://github.com/DanMcInerney/net-creds
[submodule "web/jwtcrack"]
	path = web/jwtcrack
	url = https://github.com/Sjord/jwtcrack
[submodule "web/ssrf/Tiny-URL-Fuzzer"]
	path = web/ssrf/Tiny-URL-Fuzzer
	url = https://github.com/orangetw/Tiny-URL-Fuzzer
[submodule "smbmap"]
	path = smbmap
	url = https://github.com/ShawnDEvans/smbmap
[submodule "reversing/cutter"]
	path = reversing/cutter
	url = https://github.com/radareorg/cutter
[submodule "mobile/StaCoAn"]
	path = mobile/StaCoAn
	url = https://github.com/vincentcox/StaCoAn
[submodule "windows/symboliclink-testing-tools"]
	path = windows/symboliclink-testing-tools
	url = https://github.com/google/symboliclink-testing-tools
[submodule "windows/PowerSploit"]
	path = windows/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
[submodule "mobile/android/scrcpy-docker"]
	path = mobile/android/scrcpy-docker
	url = https://github.com/pierlon/scrcpy-docker
[submodule "fuzzers/radamsa"]
	path = fuzzers/radamsa
	url = https://github.com/aoh/radamsa
